
Form {
  margin: 10% auto;
  width: 50%;
  
}
.local-page {
    width: 50%;
    margin: 5% auto;
    padding: 5% 0%;
    border: 1px solid rgb(97, 81, 162);
    border-radius: 3px;
    /* background-image: linear-gradient(#A1070A , #320100); */
    background-image: linear-gradient(#DE0001 , #320100);
    /* background-image: linear-gradient(#4A5D98 , #9453B4); */
    box-shadow:0 0 20px rgba(60, 49, 96, 0.749);
}
.local-pageNames {
    width: 30%;
    margin: 5% auto;
    padding: 5% 0%;
    border: 1px solid rgb(97, 81, 162);
    border-radius: 3px;
    /* background-image: linear-gradient(#4A5D98 , #9453B4); */
    /* background-image: linear-gradient(#9BA54C, #0A1800); */
    background-image: linear-gradient(#DE0001 , #320100);

    box-shadow:0 0 20px rgba(60, 49, 96, 0.749);
}
.local-pageNames h3 {
    color: white; 
    font: bold  Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #09721b, 
                 2px 2px #0c7d24, 
                 3px 3px #0c8038;

}
.local-page .member {
  background-color: green;
  width:200px;
  border:2px solid red;
  margin-right: 20px;
}

.local-page .pull-names{
  background-color: red;
  border:2px solid green;
}
Input {
  display: block;
  overflow: scroll;
}

.localWrapper {
    display: flex;
    flex-direction: row;
}
.singleMember h5 {
   color: white;
   /* text-shadow: 1px 1px 1px rgb(252, 255, 252); */
}

.linksMember {
    display: flex;
    flex-direction: row;
    margin: 0 20%;
    justify-content: space-between;
}
.x {
    margin-left: 3rem;
}
.memberName {
    color: white;
}